# directories
.cache/
.auctex-auto/
pkg-list/
sync/

# private dotfiles
.viminfo
.wget-hsts
.Xauthority
*history*

# latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.lof
*.bbl
*.bcf
*.blg
*.run.xml
*.toc
*.synctex.gz
*.bib.sav
*.bib.bak
*.lot
*.nav
*.snm
*.tdo
*.dvi
*.out.ps
*.xdv
tex/*.pdf

# misc files
plug.vim.old
todos*.txt
make.conf.*
