[user]
	name = danielgolf
	email = daniel.golf@web.de
[init]
	defaultBranch = main
[push]
	default = simple
[pull]
	rebase = true
[core]
	editor = nvim
[alias]
	co = checkout
	st = status
	ci = commit -m
	sub = submodule update --init --recursive
