Xft.dpi: 128
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

rofi.dpi: 128
Xcursor.size: 30

! ###############################
!  _   _ ____               _   
! | | | |  _ \ __  ____   _| |_ 
! | | | | |_) |\ \/ /\ \ / / __|
! | |_| |  _ <  >  <  \ V /| |_ 
!  \___/|_| \_\/_/\_\  \_/  \__|
!
! ###############################

urxvt.font: xft:JetBrainsMono Nerd Font:style=Regular:size=11
urxvt.boldFont: xft:JetBrains Mono:style=Bold:size=11
urxvt.letterSpace: -1.2

urxvt.cursorBlink: true
urxvt.cursorUnderline: true
urxvt.saveline: 10000
urxvt.scrollBar: false
urxvt.internalBorder: 4
urxvt.pointerBlank: true

!! ### ayu-colors ###
! special
urxvt.foreground: #cecfc9
urxvt.background: #1f2430 
urxvt.cursorColor: #cbccc6

! black
urxvt.color0: #002b36
urxvt.color8: #657b83

! red
urxvt.color1: #dc322f
urxvt.color9: #dc322f

! green
urxvt.color2: #86b300
urxvt.color10: #86b300

! yellow
urxvt.color3: #b58900
urxvt.color11: #b58900

! blue
urxvt.color4: #399ee6
urxvt.color12: #399ee6

! magenta
urxvt.color5: #a37acc
urxvt.color13: #a37acc

! cyan
urxvt.color6: #4cbf99
urxvt.color14: #4cbf99

! white
urxvt.color7: #cbccc6
urxvt.color15: #cbccc6
