configuration {
	modi: "drun,window";
    display-drun: "Apps:";
    display-window: "Running:";
    display-run: "run:";

	show-icons: true;
    icon-theme: "Tela dark";
    font: "SF Pro 12";

	terminal: "kitty";
}
@theme "mytheme"
// @theme "Arc-Dark"

// vim:ft=css
