configuration {
    theme: "mytheme";
	modi: "drun,window,run";
    display-drun: "Apps:";
    display-window: "Running:";
    display-run: "run:";
	show-icons: true;
    icon-theme: "Papirus-Dark";
	terminal: "kitty";
}

// vim:ft=css
