[Desktop Entry]
Version=1.0
Name=Firefox Messenger
GenericName=Web Browser
Comment=Browse the Web
Exec=firefox -P messenger-fox %u
Icon=firefox
Terminal=false
Type=Application
MimeType=application/pdf;application/vnd.mozilla.xul+xml;application/xhtml+xml;text/html;text/mml;text/xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Categories=Network;WebBrowser;
Keywords=web;browser;internet;
Actions=new-window;new-private-window;profile-manager-window;
