[Desktop Entry]
Name=Shilunski Element
Comment=Feature-rich client for Matrix
Exec=/usr/bin/element-desktop --profile shilunski
Terminal=false
Type=Application
Icon=io.element.Element
StartupWMClass=Element
Categories=Network;InstantMessaging;Chat;IRCClient
MimeType=x-scheme-handler/element;
